.form {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    padding-left: 156px;
}

.input-text {

font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
border: 1px solid #808080;
border-radius: 4px;
width: 360px;
height: 40px;
            
}
.form-label{
display: flex;
flex-direction: column;
gap: 8px;
}
.field {
    width: 360px;
    display: flex;
    border-radius: 4px;
    stroke-width: 1px;
    stroke: #808080;
    margin-top: 16px;
    margin-bottom: 24px;
    margin-right: 0;
    margin-left: 0;
    padding-top: 18px;
    padding-right: 0;
    padding-left: 0;
   
    
    
}
.field-text {

        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #2e2f42;
        margin: 0;
        margin-left: 24px;
    
        
}
.field-label {
    margin-left: 40px;
}
.form-btn {
    border-radius: 8px;
        padding: 8px 16px;
        width: 362px;
        height: 40px;
        background: #4e75ff;
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border: none;
}
.form-btn:hover,
.form-btn:focus {
    background: #6c8cff;
}